@{ 
    Layout = null;
}

<div ng-app="techApp">
    <div ng-controller="techController">
        <h2>{{ title }}</h2>
        <h3>출력</h3>
        <ul ng-repeat="tech in classes">
            <li>{{ tech.title }}</li>
        </ul>
        <h3>입력</h3>
        <div>
            기술명: <input type="text" name="Title" ng-model="NewTech.Title" />
            <input type="button" name="name" value="저장" class="btn btn-primary" ng-click="add()" />
        </div>
    </div>
</div>

<script src="~/lib/angular/angular.js"></script>
<script src="~/app/Tech/techApp.js"></script>
<script src="~/app/Tech/techController.js"></script>